div.addContact
    label.label(for="addName") add Name
    input.addName(name="addName" id="addName" type="text")
    label.label(for="addLastName") add last name
    input.addSLastName(name="addSLastName" id="addLastName" type="text")
    label.label(for="addAge") add Age
    input.addAge(name="addAge" id="addAge" type="text")
    label.label.addPhone(for="addPhone") add Phone
    input.addPhone(name="addPhone" id="addPhone" type="text")
    button.buttonAdd add
table.contactList
    thead.sort
        tr
            th.SortName Name
            th.SortLastName Last name
            th.SortAge Age
            th.SortPhone Phone number
            th.forButton
    tbody.List

