.wrapper

  background-color: inherit
  width: 46%
  color: lightgrey
  margin: auto
  position: absolute
  left: 27%
  z-index: 10


.addContact

  background-color: inherit
  width: 560px
  height: 100px
  margin: auto
  margin-top: 20px
  padding: 20px
  position: relative

.label
  margin-left: 10px
  margin-right: 5px

.label.addPhone
  margin-left: 8px

input
  width: 180px
  margin-top: 10px

input.addPhone
  margin-left: 25px

input.addAge
  margin-left: 10px


.buttonAdd
  color: inherit;
  background-color: inherit
  border: none
  position: absolute
  right: 20px
  bottom: 20px

button.delete
  color: inherit;
  background-color: inherit
  border: none


.contactList

  width: 600px
  margin: auto
  margin-top: 10px

.contact
  height: 35px

  text-align: center


#canvas
  background-color: dimgray
  background: linear-gradient(to right, dimgray, darkslategrey, dimgrey)
  position: absolute
  left: 0
  top: 0
  z-index: -1

